$c-green: #007a6e;
$c-light-grey: #eee;
$c-grey: #555;
$c-mid-grey: #aaa;
$c-white: #fff;
$c-charcoal: #333;
$c-keyline: #ddd;
$c-beige: #edefed;

$f-serif: 'minion-pro-display', Georgia, 'Times New Roman', serif;
$f-sans: 'proxima-soft', 'helvetica neue', 'arial', sans-serif;

$b-small: 400px;
$b-medium: 500px;
$b-large: 790px;
$b-x-large: 1000px;

$ease: 600ms ease-in-out;
