* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  padding-bottom: 50px;

  @media(min-width: 680px) {
    padding-top: 50px;
  }
}

.spaced {
  .two-columns__primary > * + * {
    margin-top: 1em;
  }
}
