* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main {
  padding-top: 15px;
  padding-bottom: 50px;

  @media (min-width: 400px) {
    padding-top: 20px;
  }

  @media (min-width: 680px) {
    padding-top: 50px;
  }
}

.spaced {
  .two-columns__primary > * + * {
    margin-top: 1em;
  }
}

.list {
  li + li {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid $c-keyline;
  }
}
