body {
  font-family: $f-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  color: $c-charcoal;
  background: $c-beige;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-sans;
  margin-bottom: 1em;
}

h1,
h2 {
  line-height: 1.2;
}


h2 {
  font-size: 1.8rem;

  @media (min-width: $b-small) {
    font-size: 2.2rem;
  }

  @media (min-width: $b-medium) {
    font-size: 2.5rem;
  }
}

a {
  text-decoration-skip: ink;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.4em;
}

small {
  font-size: 0.8rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1em;
}
