body {
  font-family: 'minion-pro-display';
  font-size: 1.3rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-soft';
  margin-bottom: 1em;
  line-height: 1.4;
  text-decoration-skip: ink;
}

h2 {
  font-size: 2.5rem;
}
